<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
</head>
<body>
    {% extends 'web/base.html' %}
    {% load static %}
    {% block content %}
    
    <div class="formcontacto_contenedor">

        {% if "OK" in request.GET %}

            <p style="color: white;"> enviado </p>
        
        {% endif %}
        
        <form action="" method="post" style="text-aling: center;">{% csrf_token %}
        
            <table style="color: white; margin: 20px auto;">{{miformulario.as_table}}</table>

            <input type="submit" value="Enviar" style="width: 150px;">

        </form>
    
    
    
    
    
    
    </div>
    {% comment %} <p>{{request.POST}}</p> {% endcomment %}
        {% comment %} se crea un diccionario {% endcomment %}
    
    
     
    {% endblock  %}
</body>
</html>