<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    {% extends 'web/base.html' %}
    {% load static %}
    {% block content %}

    <div class="container">{% comment %}div de la class"container" {% endcomment %}


            <div style="float:right;">
                {% comment %} carrito de compra {% endcomment %}
                <br>  
                    {% if request.user.is_authenticated %} 
                        {% include "carro/widget.html" %}

                    {% else %}
                       <div class="alert alert-danger text-center"> Login para ver el carro </div>

                    {% endif %}
            </div>
        
        
            <div class="row">{% comment %}div del "row" {% endcomment %}
        {% for producto in productos %}
                <div class="col-md-3">  {% comment %}div de la class"col" {% endcomment %}

                    
                    <div><p>{% comment %} div del card{% endcomment %}
                        <div class="card" style="width: 11rem;">
                            <img src="{{producto.imagen.url}}" class="card-img-top" alt="...">
                            <div class="card-body" style="text-align: center;">
                                <h6 class="card-title">{{producto.name}}</h6>
                                <p class="card-text">{{producto.precio}}&nbsp;$</p>

                            </div>

                            <div class="card-footer text-center">
                                <a href=" {% url 'carro:agregar' producto.id %}" class="btn btn-success">agregar al carro</a>

                            </div>
                            
                        </div>
                    </div>{% comment %} div del card{% endcomment %}

                </div> {% comment %}div de la class"col" {% endcomment %}


                
        {% endfor %}


    </div>{% comment %}div de la class "row" {% endcomment %}
        </div>{% comment %}div de la class"container" {% endcomment %}

</body>
    {% endblock %}



    {% comment %} <h2 style= "color: white;">{{servicio.titulo}}</h2>
    <ps style= "color: white;">{{servicio.Contenido}}</p>
    <p><img src="{{servicio.imagen.url}}"></p> {% endcomment %}