<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    {% extends 'web/base.html' %}
    {% load static %}
    {% block content %}
    {% for post in post  %}


<div><p>
    <div class="card" style="width: 25rem;">
        <img src="{{post.imagen.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.titulo}}</h5>
          <p class="card-text">{{post.Contenido}}</p>
          <p class="card-text" style= "text-aling: left; 0.3em;">{{post.autor}}</p>
          {% comment %} <a href="" class="btn btn-primary">Go somewhere</a> {% endcomment %}
      </div>

    {% comment %} <h2 style= "color: white;">{{servicio.titulo}}</h2>
    <ps style= "color: white;">{{servicio.Contenido}}</p>
    <p><img src="{{servicio.imagen.url}}"></p> {% endcomment %}



</p></div>
    
    
    
    
    
    {% endfor %}
    <section>

        <div style="width: 75%; margin: auto; text-align: center; color:white">
            
            categorias:
            {% for post in post %}
                {% for categoria in post.categorias.all  %}
                    <a href= "{% url 'categoria' categoria.id %}">{{categoria.nombre}}</a>

                {% endfor %}

            
            {% endfor %}
            
            
        </div>

    </section>
    {% endblock  %}</body>
</html>